import os

openai_api_key = os.getenv("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")
telegram_bot_token = os.getenv("7090605258:AAGhLlwgEHw4KSogSqcV7Srho5I7GexLV6M")

if not openai_api_key or not telegram_bot_token:
    raise ValueError("⚠️ API Key या Bot Token सेट नहीं किया गया!")
